$hero_padding: 50px;

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .hero-content {
        background-size: 400px auto;
    }
    .hero {
        padding-top: $hero_padding;
        padding-bottom: $hero_padding;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .hero {
        padding-top: $hero_padding;
        padding-bottom: $hero_padding;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .hero {
        padding-top: $hero_padding;
        padding-bottom: $hero_padding;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .hero-content {
        background: none;
    }
    .hero {
        padding-top: $hero_padding;
        padding-bottom: $hero_padding;
    }
}