// Roots
$dark:      #102A3D;
$theme:     #4285f4;
$light:     #F9FBFF;
$orange:    #f86734;
$navy:      #073042;
$grey:      #F2F2F2;
$green:     #3ddc84;

$blue: $theme;

// Box Shadow
$shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
$shadow-lg: 0 8px 30px rgba(0, 0, 0, 0.16);

// Transition
$transition: all 0.15s ease-in-out; 

// Border Radius
$radius: 16px;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700');

$heading: 'Montserrat', sans-serif;
$content: 'Roboto', sans-serif;
$condensed: 'Roboto Condensed', sans-serif;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 768px,
//   md: 1068px,
//   lg: 1440px
// );

// $container-max-widths: (
//   sm: 668px,
//   md: 968px,
//   lg: 1340px
// );

