@import 'roots';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'rules';


// General
body {
    font-family: $heading;
}

::selection {
    color: $dark;
    background-color: #f7b617;
}

a {
    color: black;
    transition: 0.15s ease-in-out;

    &:hover {
        color: $theme;
        text-decoration: none;
    }
}

.rounded {
    border-radius: 5px;
}

.btn-rounded {
    border-radius: 100px;
    background-color: $theme;
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 0.375rem 0.92rem;

    &:hover {
        background-color: white;
        color: $theme;
        box-shadow: $shadow;
    }
}

.btn-rounded.btn-outline {
    background-color: transparent;
    color: $theme;
    border: 1px solid $theme;
    &.btn-white {
        color: white;
        border-color: white;
        &:hover {
            background-color: white;
            color: $theme;
        }
    }
    &:hover {
        box-shadow: none;
        background-color: $theme;
        color: white;
    }
}

.btn-fix {
    height: 46px;
}

.forward {
    background-color: rgba(255, 255, 255, 0.22);
    position: relative;
    left: 5px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 34px;
}

.sh {
    box-shadow: $shadow;
}

// Header
@import 'content/header';

// Hero Element
@import 'content/hero';

// Services
@import 'content/services';

// Projects
@import 'content/projects';

// Contact
@import 'content/contact';

// Footer
@import 'content/footer';

// Media queries
// @import 'media';