{% extends "../news.twig" %}


{% block article %}

<div class="row mb-5">
    <div class="col-lg-5 col-md-4">
        <img class="article-img rounded shadow" src="images/feature1.jpg" alt="Article">
    </div>
    <div class="col-lg-7 col-md-8">
        <small><span class="tag mr-2">Tags</span><span class="tag">Tags</span></small>
        <article>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in viverra enim. Duis euismod erat ut ligula vulputate, id pharetra mauris egestas. Fusce sagittis nulla ac ligula ...</p>
        {% include "button.twig"  with {
            'text': 'Read More',
            'display': 'block'
            }%}
        </article>
    </div>
</div>


{% endblock article %}