<nav>
    <ul class="pagination align-middle">
        <li class="mr-3 active">
                <a href="#">{% include 'button.twig' with {
                    'text': '1',
                    'display': 'none'
                    }%}
                </a>
        </li>
        <li class="mr-3"><a href="" class="page-link">2</a></li>
        <li class="mr-3"><a href="" class="page-link">3</a></li>
    </ul>
</nav>