<div class="mb-4">
    <button class="btn btn-light tag-sidebar mb-2"><small><strong>Cars</strong></small></button>
    <button class="btn btn-light tag-sidebar mb-2"><small><strong>News</strong></small></button>
    <button class="btn btn-light tag-sidebar mb-2"><small><strong>Games</strong></small></button>
    <button class="btn btn-light tag-sidebar mb-2"><small><strong>Funny</strong></small></button>
    <button class="btn btn-light tag-sidebar mb-2"><small><strong>Politics</strong></small></button>
    <button class="btn btn-light tag-sidebar mb-2"><small><strong>Activities</strong></small></button>
    <button class="btn btn-light tag-sidebar mb-2"><small><strong>Sports</strong></small></button>
    <button class="btn btn-light tag-sidebar mb-2"><small><strong>Nature</strong></small></button>
</div>