<div class="row mb-4">
    <div class="col-3"><img src="https://picsum.photos/500/500" alt="" class="img-fluid rounded"></div>
    <div class="col-9">
        <p style="font-size: 0.8em; line-height: 16px; margin-bottom: 0;"><strong>Lorem ipsum dolor sit amet consectetur</strong></p>
        <small style="font-size: 0.7em">October 8, 2018</small>
    </div>
</div>
