.contact {
    background-color: $theme;
    color: white;
    border-radius: $radius;
    overflow: hidden;
    &::after {
        content: "";
        background-image: url('https://source.unsplash.com/random');
        background-size: cover;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        position: absolute;
        z-index: 1;
    }
    .inner {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        position: relative;
        z-index: 9999;
    }
    .col-10 {
        display: flex;
        justify-content: left;
        align-items: center;
        h3 {
            font-size: 36px;
        }
        p {
            margin-bottom: 0;
            font-size: 18px;
        }
    }
    .col-2 {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .btn-wthite {
        white-space: nowrap;
    }
}