.contact-links {
    font-size: 2.5em;
    li {
        margin-right: 1rem;
        &:last-of-type{
            margin-right: 0;
        }
        a {
            color: $dark;
            &:hover {
                color: $theme;
            }
        }
    }
}

.footer {
    li {
        margin-bottom: 1em;
    }
    h1.text-center {
        &:after {
            padding-top: 1rem;
            content: "";
            border-bottom: 4px solid $dark;
            display: block;
            margin: 0 auto;
            width: 300px;
        }
    }

    .copyright {
        font-size: 14px;
        a:after:before {
            content: "";
            position: relative;
            opacity: 0;
            transition: $transition;
        }
        a:after {
            margin-left: 5px;
        }
        a:before {
            margin-right: 5px;
        }
        a:hover:after {
            content: "🍰";
            opacity: 1;
        }
        a:hover:before {
            content: "🍰";
            opacity: 1;
        }
    }
}