.hero {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-content {

    height: 315px;
    margin: auto;
    overflow: visible;
    background-image: url('../images/hero.png');
    background-position: right;
    background-size: 550px auto;
    background-repeat: no-repeat;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
    .hero-content {
        background: none;
    }
}