.block-title {
    margin-bottom: 40px;
    font-size: 2rem;

    &:after {
        content: "";
        border-bottom: 4px solid;
        width: 80px;
        margin-top: 10px;
        display: block;
    }
}

.projects {
    padding-top: 50px;
    padding-bottom: 50px;

    .project {
        display: flex;
        flex-direction: row;
        box-shadow: $shadow;
        padding: 0;
        border-radius: $radius;
        overflow: hidden;
        margin-bottom: 30px;
        transition: $transition;
        position: relative;
        top: 0;
        background-color: white;

        // &:nth-child(2n) {
        //     padding-left: 1rem;
        // }
        &:hover {
            top: -2px;
            box-shadow: $shadow-lg;
        }
        .img-container {
            max-width: 200px;
            overflow: hidden;
            max-height: 270px;
            img {
                height: 100%;
                min-width: 100%;
                object-fit: cover;
            }
        }

        .context {
            padding: 25px;

            .category {
                text-transform: uppercase;
                color: $primary;
                font-size: 9px;
            }

            h4 {
                color: $primary;
                font-size: 20px;
            }

            .description {
                font-size: 14px;
            }
        }
    }
}