.services {
    margin-top: 40px;
    i {
        font-size: 32px;
        color: $theme;
    }

    [class^='col-'] {
        
        p {
            text-align: left;
            color: #333940;
        }
    }
    h4 {
        i {
            margin-right: 1rem;
        }
    }
    .teaser {
        margin-bottom: 2rem;
        .description {
            display: flex;
            align-items: center;
        }
    }
}

// Tools
.tools {
    border-top: 1px #f1f1f1 solid;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 100%;
        height: auto;
    }
}