<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'twig/head/metas.twig' with {
    title: "Cakery",
    description: "Description",
    keywords: "kek, cebu, rek"
    } %}
    {% include 'twig/head/head.twig' %}
</head>

<body class="bg-light">
    <div class="py-5 container-fluid">
        <div class="container">
            {% include 'twig/body/header.twig' %}
            {% include 'twig/body/content/hero.twig' %}
        </div>
    </div>

    <div class="container-fluid bg-white">
        <div class="container py-5">
            {% include 'twig/body/content/services.twig' %}
        </div>
    </div>

    {% include 'twig/body/content/projects.twig' %}
    
    <div class="container">
        {% include 'twig/body/content/contact.twig' %}
    </div>
    {% include 'twig/body/footer.twig' %}
</body>

</html>