<div class="row my-5">
    <div class="col-12 contact py-5">
        <div class="inner mx-5">
            <div class="col-lg-8 col-md-8">
                <div class="text">
                    <h3>Interested in working with us?</h3>
                    <p>Let us get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-3 col-md-4 text-right">
                {% include "blocks/button.twig" with {
                    'text': "Contact us!",
                    'class': "btn-outline btn-white btn-fix",
                    'display': 'none'
                }%}
            </div>
        </div>
    </div>
</div>