<div class="row gallery">
    <div class="item">
        <div id="item_1"><img src="https://placekitten.com/270/300" alt=""></div>
        <div id="item_2"><img src="https://placekitten.com/270/400" alt=""></div>
        <div id="item_3"><img src="https://placekitten.com/270/420" alt=""></div>
        <div id="item_4"><img src="https://placekitten.com/270/320" alt=""></div>
        <div id="item_5"><img src="https://placekitten.com/270/450" alt=""></div>
        <div id="item_6"><img src="https://placekitten.com/270/200" alt=""></div>
        <div id="item_7"><img src="https://placekitten.com/270/410" alt=""></div>
    </div>
    {% include "blocks/button.twig" with {
        'text': "More on Medium",
        'display': "inline-block",
        'class': 'mt-5 mx-auto'
    }%}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="https://via.placeholder.com/270x300" alt="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>