<div class="row">
    <div class="hero">
        <div class="hero-content container py-5 my-auto">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <h1 class="text-primary fw-600">Welcome to Cortex</h1>
                    <p class="mb-5">Mauris vel tortor accumsan, faucibus
                        orci non, varius turpis. Aenean ac eros
                        libero. Quisque quis sapien in ante
                        scelerisque volutpat.</p>
                    {% include "blocks/button.twig" with {
                    	    'text': "Read More",
                    	    'display': "inline-block"
                    	    }%}
                    {% include "blocks/button.twig" with {
                    	    'text': "Documentation",
                    	    'class': "ml-2 btn-outline btn-fix",
                    	    'display': 'none'
                    	    }%}
                </div>
            </div>
        </div>
    </div>
</div>