<div class="container-fluid projects">
    <div class="container">
        <h4 class="block-title">Tipa Ceva Huineli</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="project">
                    <div class="context">
                        <p class="category">Category</p>
                        <h4>Excepteur sint occaecat cupidatat non proident</h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim.</p>
                    </div>
                    <div class="img-container">
                        <img src="https://source.unsplash.com/random" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="project">
                    <div class="context">
                        <p class="category">Category</p>
                        <h4>Excepteur sint occaecat cupidatat non proident</h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim.</p>
                    </div>
                    <div class="img-container">
                        <img src="https://source.unsplash.com/random" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="project">
                    <div class="context">
                        <p class="category">Category</p>
                        <h4>Excepteur sint occaecat cupidatat non proident</h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim.</p>
                    </div>
                    <div class="img-container">
                        <img src="https://source.unsplash.com/random" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="project">
                    <div class="context">
                        <p class="category">Category</p>
                        <h4>Excepteur sint occaecat cupidatat non proident</h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim.</p>
                    </div>
                    <div class="img-container">
                        <img src="https://source.unsplash.com/random" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>