<div class="row services">
    <div class="col-lg-6 col-sm-12 teaser">
        <h4 class="mb-4">
            <i class="fa fa-eye"></i>
            Intelligent Computer Vision
        </h4>
        <div class="description">
            <p>We make custom solutions that provide with the most innovative methods for object detection and face recognition designed specifically from case to case.</p>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 teaser">
        <h4 class="mb-4">
            <i class="fa fa-project-diagram"></i>
            Natural Language Processing
        </h4>
        <div class="description">
            <p>We develop high level bots engineered to increase customer engagement that automatically scale to handle production workloads, aiding in processing of text data.</p>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 teaser">
        <h4 class="mb-4">
            <i class="fa fa-coins"></i>
            Extended Data Analysis
        </h4>
        <div class="description">
            <p>Gain usefeul insights through modern data processing techniques, make decisions more scientific and help your business operate more effectively.</p>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 teaser">
        <h4 class="mb-4">
            <i class="fa fa-brain"></i>
            Reinforcement Learning
        </h4>
        <div class="description">
            <p>Make use of the most powerful agent training systems taylored particularly towards your use case, alongside supervised learning and unsupervised learning.</p>
        </div>
    </div>
</div>
<div class="mb-5">
    <div class="row tools">
        <div class="col-lg-2 col-md-2 col-sm-4"><img src="images/tools/1.png" alt=""></div>
        <div class="col-lg-2 col-md-2 col-sm-4"><img src="images/tools/2.png" alt=""></div>
        <div class="col-lg-2 col-md-2 col-sm-4"><img src="images/tools/3.png" alt=""></div>
        <div class="col-lg-2 col-md-2 col-sm-4"><img src="images/tools/4.png" alt=""></div>
        <div class="col-lg-2 col-md-2 col-sm-4"><img src="images/tools/5.png" alt=""></div>
        <div class="col-lg-2 col-md-2 col-sm-4"><img src="images/tools/6.png" alt=""></div>
    </div>
</div>