<div class="container-fluid footer">
    <div class="container pt-4 pb-2">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Get in Touch</h1>
                <div class="contact-links mt-5">
                    <ul class="nav justify-content-center">
                    <li class="nav-item">
                            <a class="nav-link" href="#"><i class="far fa-envelope"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-medium"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2">
        <div class="copyright text-center">Based on <a
                href="https://www.behance.net/gallery/89072947/Cakery-a-Bootstrap-4-UI-kit" target="_blank">Cakery</a>,
            a Bootstrap theme.</div>
    </div>
</div>